<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    </header>

    

    <main id="content" class="main-content" role="main">
      
      <p style="text-align:center;">
        <img class="center" src="{{ "/assets/images/ml_profile_2022.jpg" | absolute_url }}" width="200px" alt="Matt Luedke profile photo">
      </p>

      <p>I'm a writer in Oakland. When I'm fortunate enough to have something published, I'll add it to the list below.</p>

      <h2>Fiction</h2>

      <p><strong> <a href="https://bookshop.org/p/books/dagny-matt-luedke/20025230" target="_blank" rel="noopener">Dagny</a></strong> - novella, published April 22, 2023 by <a href="https://www.nat1publishing.com/books/dagny/" target="_blank" rel="noopener">Nat 1 Publishing</a>. Available on <a href="https://bookshop.org/p/books/dagny-matt-luedke/20025230" target="_blank" rel="noopener">Bookshop.org</a> and <a href="https://a.co/d/a8qTRn2" target="_blank" rel="noopener">Amazon</a> in paperbook or ebook.</p>
      <p><em>Dagny embarks on what seems like a straightforward quest: to recover her family's herd of reindeer, stolen by a troll and taken into a mystical Scandinavian forest. And she intends to use a straightforward sort of magic for the job: elven rune magic that her father taught to Dagny and her brother. But to survive an encounter with a dangerous shadow creature in the forest, Dagny must discover her own powers beyond anything she was taught, and she must confront what could present the most danger of all: the wild spirit inside herself.</em></p>

      <p style="text-align:center;">
        <a href="https://bookshop.org/p/books/dagny-matt-luedke/20025230" target="_blank" rel="noopener"><img decoding="async" src="{{ "assets/images/dagny_cover_fix-683x1024-1.png" | absolute_url }}" alt="dagny cover art by rebecca clegg" height="300"></a>
      </p>

      <p><strong><a href="https://sites.uwm.edu/furrow/2021/04/01/the-fantastic-four-host-muslim-christmas/" target="_blank">The Fantastic Four Host Muslim Christmas!</a></strong> - short story, published in the Spring 2020 edition of UW-Milwaukee's <em>Furrow Magazine</em>. The edition of the magazine containing this story <a href="https://www.awpwriter.org/contests/national_program_directors_prize_previous_winners" target="_blank">won the 2021 National Program Directors' Prize for Content</a> from the Association of Writers and Writing Programs.</p>

      <p style="text-align:center;">
        <a href="https://sites.uwm.edu/furrow/2021/04/01/the-fantastic-four-host-muslim-christmas/" target="_blank"><img decoding="async" src="{{ "/assets/images/furrow_2020spring.jpg" | absolute_url }}" alt="Spring 2020 Furrow Magazine" height="300"></a>
      </p>

      <p><strong><a href="https://forumccsf.org/2020/05/24/the-body-of-stone/" target="_blank">The Body of Stone</a></strong> - short story, published in the Spring 2020 edition of City College of San Francisco's <em>Forum Magazine</em>.</p>

      <div style="text-align:center;">
        <div style="margin:8px 0px 4px;"><a href="https://www.calameo.com/books/0067309566ca97bac601c" target="_blank" rel="noopener">Spring 2020 Forum Literary Magazine</a></div>
        <p><iframe src="//v.calameo.com/?bkcode=0067309566ca97bac601c&amp;mode=mini&amp;page=81&amp;clickto=view&amp;clicktarget=_self" width="100%" height="500px" frameborder="0" scrolling="no" allowtransparency="" allowfullscreen="" style="margin:0 auto;"></iframe></p>
        <div style="margin:4px 0px 8px;"></div>
      </div>

      <p><strong><a href="https://ripplesinspace.com/fall-2019-selections/" target="_blank">Ready</a></strong> - short story, published in <em>Ripples in Space</em> in their Fall 2019 selections.</p>

      <p><strong><a href="https://forumccsf.org/2019/07/05/here-in-the-afterlife-matt-luedke/" target="_blank">Here in the Afterlife</a></strong> - short story, published in the Spring 2019 edition of City College of San Francisco's <em>Forum Magazine</em>. Republished in <a href="https://dc.cod.edu/plr/vol42/iss1/25/" target="_blank">the Fall 2019 edition</a> of College of DuPage's <em><a href="https://www.cod.edu/student_life/publications/prairie_light_review/index.aspx" target="_blank">Prairie Light Review</a></em>.</p>

      <p><strong><a href="https://forumccsf.org/2018/05/16/ghost-dance-by-matt-luedke/" target="_blank">Ghost Dance</a></strong> - short story, published in the Spring 2018 edition of City College of San Francisco's <em>Forum Magazine</em>.</p>

      <h2>Poetry</h2>

      <p><strong><a href="https://forumccsf.org/2020/05/24/crossing/" target="_blank">Crossing</a></strong> - published in the Spring 2020 edition of City College of San Francisco's <em>Forum Magazine</em>.</p>

      <p><strong><a href="https://forumccsf.org/2020/07/15/court-geometry/" target="_blank">Court Geometry</a></strong> - published in the Spring 2020 edition of City College of San Francisco's <em>Forum Magazine</em>.</p>

      <p><strong><a href="http://forumccsf.org/2020/06/15/luggage-fee/" target="_blank">Luggage Fee</a></strong> - published in the Spring 2020 edition of City College of San Francisco's <em>Forum Magazine</em>.</p>

      <p><strong><a href="https://forumccsf.org/2019/12/23/poetry-order-featuring-image-moms-chewing-gum/" target="_blank">Order</a></strong> - published in the Fall 2019 edition of City College of San Francisco's <em>Forum Magazine</em>.</p>

      <p><strong><a href="https://forumccsf.org/2019/05/17/birch-matt-luedke/" target="_blank">Birch</a></strong> - published in the Spring 2019 edition of City College of San Francisco's <em>Forum</em> <em>Magazine</em>.</p>

      <h2>Nonfiction</h2>

      <p><strong>Dockless</strong> - short nonfiction, published in the Spring 2022 edition of City College of San Francisco's <a href="https://forumccsf.org/" target="_blank"><em>Forum</em> <em>Magazine</em></a>.</p>

      <h2>Music</h2>

      <p>My instrumental music is <a href="https://soundcloud.com/good_day_sir">shared on SoundCloud</a> with a Creative Commons license and has been used in some videos (most commonly for app previews in the App Store). Feel free to use any piece for your project, if you like.</p>

      <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/124507367&color=%23283029&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/good_day_sir" title="Good Day Sir" target="_blank" style="color: #cccccc; text-decoration: none;">Good Day Sir</a> · <a href="https://soundcloud.com/good_day_sir/sets/free-app-store-preview-music" title="Free App Store Preview Music" target="_blank" style="color: #cccccc; text-decoration: none;">Free App Store Preview Music</a></div>

      {{ content }}

    </main>
  </body>
</html>